@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@tailwind layout;

.map-entity {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    fill: white;
    color: white;
    font-size: large;
}

.challenge-desc a {
    @apply link;
}
/* 
.docs-panel {
    @apply card-body;
}

.docs-panel blockquote {
    @apply alert;
} */
